/******* General  *******/
* {
    font-family: 'Raleway', 'Roboto', sans-serif;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star{
    color: var(--main-bg-color);
}

body {
    display: flex;
    justify-content: center;
    max-width: 1440px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

h1{
    font-weight: 700;
    font-size: 1.375em;
}

h2, h3{
    font-weight: 700;
    font-size: 1.1em;
}

p, a{
    font-weight: 400;
    font-size: 1em;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
    position: static; 
    top: auto;
    left: auto;
  }

/*******  Header  *******/

.top{
    display: flex;
    justify-content: space-between;
    height: 48px;
}

.logo-link{
    align-self: flex-end;
}

/*******  Logo  *******/

.logo{
    height: 19px;
}

/*******  Menu  *******/

nav{
    height: 33px;
    display: flex;
    flex-flow: nowrap row;
}

nav a{
    margin-left: 69px;
    height: 33px;
    padding-top: 14px;
    border-top: 2px solid transparent; 
}
nav a:hover{
    color: var(--main-color);
    border-top-color: var(--main-color);
    transition: .3s;
}

.nav a:active{
    border-top-width: thick;
    border-top-color: var(--main-color);
}

/*******  Title  *******/

.search_section h1{
    margin-top: 60px;
}

.page_title h2{
    margin-top: 8px;
    font-weight: 400;
}

/*******  Search box  *******/

.search-box{
    margin: 35px 0;  
    width: 377px;
}

form{
    height: 50px;
    width: 100%;
    border: black 1px solid;
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
    border: var(--main-bg-color) 2px solid;
    margin: 0;
}

/*******  Icon  *******/

.search-box label{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:  12px 0 0 12px;
    position: relative;
    cursor: pointer;

}

.fa-location-dot{
    color: black;
    font-size: 1.125em;
    padding: 16px 18.25px;
}

/*******  Text  *******/

.search-text{
    width: 195px;
    margin: 0 -2px;
    border: none;
    outline: none;
}

input[placeholder="Marseille, France"]{
    font-size: 1.125em;
    font-weight: 700;
    padding-left: 20px;
    color: black;;
}
/*******  Button  *******/

.btn{
    width: 132px;
    height: 50px;
    position: relative;
    top: -2px;
    cursor: pointer;
    letter-spacing: 0.08em;
    border-radius: 0 15px 15px 0;
}

input[value="Rechercher"]{
    font-size: 1em;
    font-weight: 600;
    color: #FFF;
    padding: 0 10px;
}

.btn, .glass{
    background-color: var(--main-color);
    border: var(--main-color) 2px solid;
}

.glass{
    padding: 15px;
    position: relative;
    top: -2px;
    left: 2px;
    border-radius: 15px;
    display: none;
    height: 50px;
}

.fa-magnifying-glass{
    color: white;
    font-size: 1em;
}

/*******  Filters  *******/

.filter_box{
    margin: 37.5px 0;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    width: auto;
}

.filter{
    border: solid 2px #D9D9D9;
    height: 50px;
    padding: 0 15px ;
    border-radius: 25px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.063em;
}

.filter_title{
    width: auto;
}

.filter:hover{
    background-color: var(--filter-bg-color);
}

.filter:active{
    background-color: var(--filter-bg-color);
}

.filter i{
    margin-right: 14.56px;
    font-size: 1.1em;
}

.btn-txt{
    font-size: 1.125em;
    font-weight: 700;
}

/*******  i  *******/

.infos{
    display: flex;
    align-items: center;
    margin-bottom: 37.5px;
}

.fa-info{
    border: solid 1px var(--main-bg-color);
    border-radius: 100%;
    margin-right: 10px;
}

#fa-person{
    font-size: 1.2em;
}

.fa-info:before {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 0.75em;
}


/*******  Hebergements And Populaires  *******/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    gap: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/*******  Hebergements  *******/

.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card {
    margin-top: 30px;
    width: 31%;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-size: 0.875em;
    font-weight: 400;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-rating{
    margin-bottom: 5px;
    margin-top: 8px;
}

.btn_plus{
    width: 100%;
    margin-top: 30px;
}


/*******  Populaires  *******/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    height: 144px;
}

.populaires-cards .card-link {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
.populaires-cards img {
    width: 33%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.875em;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    gap: 2px;
}

/*******  Activites  *******/

.hebergements-and-populaires .activites{
    background-color: inherit;
    width: 100%;
    padding: 0;
    margin-bottom: 65px;
    margin-top: 35px;
}

.activites_cards{
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    margin-top: 30px;
}

.activites_cards .card{
    width: 22.5%;
    height: 439px;
    padding: 0;
}

.activites_cards img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites_cards .card-content{
    height: 59px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: -5px;
}

/*******  Footer  *******/

footer{
    width: 100%;
    height: auto;
    background-color: var(--main-bg-color);
    display: flex;
    flex-flow: nowrap row;
    padding-bottom: 20px;
}

footer div{
    display: flex;
    flex-flow: nowrap column;
    width: 33%;
    margin-left: 30px;
}

footer div a{
    margin-top: 18px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/******* Media queries *******/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .search-text{
        width: 278px;
    }

    .filter_box{
        gap: 10px;
    }

    .filter_title{
        width: 100%;
    }

    .filter{
        padding-left: 15px;
    }

    .filter i{
        margin-right: 11px;
        font-size: 1.1em;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires .populaires{
        margin: 0;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 31.8%;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.813em;
    }

    .activites_cards{
        height: auto;
    }

    .activites_cards .card{
        width: 22%;
        height: 200px;
    }

    .activites_cards img{
        width: 100%;
        height: 141px;
    }

    

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container{
        padding: 0;
    }

    .search_section{
        padding: 0 20px;
    }

    /*******  Header  *******/

    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 115px;
    }

     .logo-link{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .logo{
        align-self: center;
        margin: 30px 0;
    }
    
    nav{
        width: 100%;
        height: 36px;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    nav a{
        width: 50%;
        padding: 0 0 15px 0;
        margin: 0;
        text-align: center;
        padding-bottom: 15px;
        border-top: none;
        border-bottom: var(--main-bg-color) 2px solid;
    }

    nav a:hover{
        border-bottom: var(--main-color) 2px solid;
        transition: .3s;
    }

    nav a:active{
        border-bottom: var(--main-color) 2px solid;
    }
    
    /*******  Rechercher  *******/

    .search-box{
        width: 100%;
    }
    
    .search-text{
        width: 100%;
    }

    .btn{
        display: none;
    }

    input[value="Rechercher"]{
        display: none;
    }

    .glass{
        display: inline;
    }

    /*******  Filter  *******/

    .filter_title{
        width: 100%;
    }

    .filter_box{
        justify-content: space-between;
    }
    .filter_box button{
        width: 47%;
    }
    
    /*******  Sections  *******/

    .hebergements-and-populaires {
        gap: 0;
    }

    /*******  Hebergements  *******/


    .hebergements-and-populaires .hebergements{
        background-color: inherit;
    }
    .hebergements-cards{
        flex-direction: column;
    }
    .hebergements-cards .card{
        width: 100%;
    }

    /*******  Populaires  *******/

    .hebergements-and-populaires .populaires{
        order: -1;
        border-radius: 0;
        margin-top: 0;
    }
    
    .populaires-cards{
        flex-direction: column;
    }
    .populaires-cards .card{
        width: 100%;
    }

    /*******  Activités  *******/

    .hebergements-and-populaires .activites{
        padding: 30px;
        margin-bottom: 0;
    }

    .activites_cards{
        width: 100%;
        display: flex;
        flex-flow: nowrap column;
        justify-content: space-between;
        margin: 0;
    }

    .activites_cards .card{
        width: 100%;
        margin-top: 30px;
    }

    /*******  Footer  *******/

    footer{
        flex-direction: column;
    }
    footer div{
        width: auto;
    }

    .a_propos, .nos_hebergements{
        margin-bottom: 50px;
    }
    /* ... */
}


/* Large Desktop (more than 1440px) */
@media (min-width: 1440px) {
    body{
        margin: auto;
    }
}

